<form>
  <div class="first">
    <input type="text" placeholder="Title" />
    <button mat-icon-button>
      <mat-icon>verified_user</mat-icon>
    </button>
  </div>
  <div class="second">
    <input type="text" placeholder="Take a note..." />
    <div></div>
  </div>
  <div class="third">
    <div>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>verified_user</mat-icon>
      </button>
    </div>
    <button class="close" mat-stroked-button>Close</button>
  </div>
</form>
