<div class="main">
  <form class="container">
    <h1 class="logo">
      <img
        style="width: 70px; margin-top: 11px"
        src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
        alt=""
      />
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </h1>
    <p class="signintag">Forgot Password</p>
    <p class="continue">Enter Your Registered Email.</p>
    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="eg: johnathan.doe@gmail.com" />
    </mat-form-field>

    <div class="buttons">
      <button
        (click)="btnBack()"
        class="register"
        mat-stroked-button
        color="primary"
      >
        Back
      </button>
      <button class="login" mat-flat-button color="primary">Next</button>
    </div>
  </form>
</div>
