<div class="main">
  <form class="container">
    <h1 class="logo">
      <span style="color: #176bef">G</span>
      <span style="color: #ff3e30">o</span>
      <span style="color: #f7b528">o</span>
      <span style="color: #176bef">g</span>
      <span style="color: #179c52">l</span>
      <span style="color: #ff3e30">e</span>
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </h1>
    <p class="signintag">Forgot Password</p>
    <p class="continue">Enter Your Registered Email.</p>
    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="eg: johnathan.doe@gmail.com" />
    </mat-form-field>

    <div class="buttons">
      <button class="register" mat-stroked-button color="primary">Back</button>
      <button class="login" mat-flat-button color="primary">Next</button>
    </div>
  </form>
</div>
