<div class="main">
  <form class="container">
    <h1 class="logo">
      <img
        style="width: 70px; margin-top: 11px"
        src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
        alt=""
      />
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </h1>
    <p class="signintag">Sign in</p>
    <p class="continue">Continue to Fundoo</p>
    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="eg: johnathan.doe@gmail.com" />
    </mat-form-field>
    <mat-form-field class="password" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
    <div class="forgot">
      <p (click)="btnForgotPassword()">Forgot password</p>
    </div>
    <p class="comment">Don't have account yet?</p>
    <p class="comment">Create an account.</p>
    <div class="buttons">
      <button
        (click)="btnCreateAccount()"
        class="register"
        mat-stroked-button
        color="primary"
      >
        Create account
      </button>
      <button class="login" mat-flat-button color="primary">Sign In</button>
    </div>
  </form>
</div>
