<div class="main">
  <form class="container">
    <h1 class="logo">
      <span style="color: #176bef">G</span>
      <span style="color: #ff3e30">o</span>
      <span style="color: #f7b528">o</span>
      <span style="color: #176bef">g</span>
      <span style="color: #179c52">l</span>
      <span style="color: #ff3e30">e</span>
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </h1>
    <p class="signintag">Sign in</p>
    <p class="continue">Continue to Fundoo</p>
    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="eg: johnathan.doe@gmail.com" />
    </mat-form-field>
    <mat-form-field class="password" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
    <div class="forgot">
      <p>Forgot email?</p>
    </div>
    <p class="comment">Don't have account yet?</p>
    <p class="comment">Create an account.</p>
    <div class="buttons">
      <button class="register" mat-stroked-button color="primary">
        Create account
      </button>
      <button class="login" mat-flat-button color="primary">Sign In</button>
    </div>
  </form>
</div>
