<div class="main">
  <div></div>
  <div>
    <form class="container">
      <h1 class="logo"><span>Fun</span><span>doo.</span></h1>
      <p class="tag">Create Your Fundoo Account</p>
      <mat-form-field class="firstname" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="eg: johnathan" />
      </mat-form-field>
      <mat-form-field class="lastname" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="eg: doe" />
      </mat-form-field>
      <mat-form-field class="email" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="eg: johnathan.doe@gmail.com" />
        <mat-hint>You can use letters, numbers & periods.</mat-hint>
      </mat-form-field>
      <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="confirmpassword" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
      <button class="login" mat-stroked-button color="primary">
        Sign in instead
      </button>
      <button class="register" mat-flat-button color="primary">Register</button>
      <img
        class="image"
        src="https://images.unsplash.com/photo-1586077427825-15dca6b44dba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
        alt=""
      />
    </form>
  </div>
  <div></div>
</div>
