<div class="main">
  <form
    class="container"
    [formGroup]="resetpasswordForm"
    name="resetpasswordForm"
  >
    <h1 class="logo">
      <img
        style="width: 70px; margin-top: 11px"
        src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
        alt=""
      />
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </h1>
    <p class="signintag">Change Password</p>
    <p class="continue">Enter Your New Password</p>
    <mat-form-field class="email" appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
      <mat-error>required*</mat-error>
    </mat-form-field>
    <mat-form-field class="password" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="confirmpassword"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
      <mat-error>required*</mat-error>
    </mat-form-field>

    <div class="buttons">
      <div class="register" mat-stroked-button color="primary"></div>
      <button
        class="login"
        mat-flat-button
        color="primary"
        (click)="btnSubmit()"
      >
        Change Password
      </button>
    </div>
  </form>
</div>
