<div class="body">
  <mat-toolbar>
    <div class="one" style="display: flex">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <img
          style="width: 70px; margin-top: 4px"
          src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
          alt=""
        />
        <span style="color: black" class="x">X</span>
        <span class="fun">Fun</span><span class="doo">doo.</span>
      </div>
    </div>

    <div class="searchbar">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Search" />
    </div>
    <div class="three" style="display: flex; align-items: center">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">view_agenda</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">settings_outline</mat-icon>
      </button>
      <button mat-icon-button style="margin-left: 20px">
        <mat-icon>apps</mat-icon>
      </button>
      <img
        class="profilepic"
        src="https://randomuser.me/api/portraits/men/33.jpg"
        style="width: 40px; height: 40px; border-radius: 50%; margin-left: 5px"
        alt="pic"
      />
    </div>
  </mat-toolbar>

  <mat-divider style="margin-bottom: 10px"></mat-divider>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="opened">
      <div class="link">
        <button mat-icon-button>
          <mat-icon>lightbulb_outline</mat-icon>
        </button>
        <p>Notes</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>notifications_none</mat-icon>
        </button>
        <p>Reminders</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>label_outline</mat-icon>
        </button>

        <p>food</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>label_outline</mat-icon>
        </button>

        <p>travel</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
        </button>

        <p>Edit labels</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">archive_outline</mat-icon>
        </button>

        <p>Archive</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>

        <p>Trash</p>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      Main Content <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
