<div class="body">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <img
        style="width: 70px; margin-top: 4px"
        src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
        alt=""
      />
      <span style="color: black" class="x">X</span>
      <span class="fun">Fun</span><span class="doo">doo.</span>
    </div>
    <mat-form-field appearance="fill" class="search">
      <input matInput placeholder="search" />
      <mat-icon matPrefix style="opacity: 80%">search</mat-icon>
    </mat-form-field>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="opened">
      <div class="link">
        <button mat-icon-button>
          <mat-icon>lightbulb_outline</mat-icon>
        </button>
        <p>Notes</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>notifications_none</mat-icon>
        </button>
        <p>Reminder</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>label_outline</mat-icon>
        </button>

        <p>snacks</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>

        <p>Edit labels</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>archive_outline</mat-icon>
        </button>

        <p>Archive</p>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>

        <p>Trash</p>
      </div>
    </mat-sidenav>

    <mat-sidenav-content> Main Content</mat-sidenav-content>
  </mat-sidenav-container>
</div>
