<form [formGroup]="noteForm">
  <div class="first">
    <div class="title">Food</div>
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined">local_offer</mat-icon>
    </button>
  </div>

  <div class="second">
    <div class="body">Buy snack form the market and give it to uncle Ben.</div>
    <div></div>
  </div>

  <div class="third">
    <div class="icons">
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">notifications_none</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">person_add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">color_lens</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">insert_photo</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">archive_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
      </button>
    </div>
  </div>
</form>
