input {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-style: none;
  height: 45px;
  //   padding: 10px 30px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
button {
  opacity: 80%;
}
button:hover {
  background-color: #f1f3f4;
}
.mat-icon {
  font-size: 20px;
}
form:hover {
  cursor: pointer;
}
form {
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 0.3px;
  border-color: #cccccc;
  border-radius: 10px;
  width: 250px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 15px 0px 20px;
    input {
      width: 100%;
    }
    .title {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: larger;
    }
  }
  .firsttext {
    display: none;
  }
  .second {
    padding: 2px 20px;
    display: flex;
    input {
      width: 100%;
    }
    .body {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }
  .secondtext {
    display: none;
  }
  .third {
    // margin-left: 10px;
    padding: 3px 15px 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .close {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      padding-left: 30px;
      padding-right: 30px;
      height: 35px;
      margin-bottom: 5px;
      border-style: none;
    }
  }
}
